@use "../abstracts" as *;
.logo {
  letter-spacing: -0.15em;
  font-size: 1.75rem;
  font-weight: var(--fw-bold);
  transition: color 350ms ease;
  &:is(:hover, :focus) {
    color: hsl(var(--color-secondary));
  }
  @include mq(large) {
    font-size: 2.75rem;
  }
}
