.fade-out-translate {
  animation: fade-out-translate 800ms ease-in;
}

@keyframes fade-out-translate {
  from {
    transform: translateY(0.25rem);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
