@font-face {
  font-family: "Golos Text";
  font-weight: 700;
  font-display: swap;
  src: url("/public/fonts/Golos_Text/static/GolosText-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Golos Text";
  font-weight: 500;
  font-display: swap;
  src: url("/public/fonts/Golos_Text/static/GolosText-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Golos Text";
  font-weight: 400;
  font-display: swap;
  src: url("/public/fonts/Golos_Text/static/GolosText-Regular.ttf")
    format("ttf");
}
@font-face {
  font-family: "Jost";
  font-weight: 400;
  font-display: swap;
  src: url("/public/fonts/Jost/static/Jost-Regular.ttf") format("ttf");
}
